﻿
@{
    Layout = "~/Views/Shared/mylayout.cshtml";
}
<div style= "height:400px;width:900;background-color:burlywood">
    <h1> Ad    :  Yazan </h1>
    <h1> Soyad :  Taleb</h1>
    <h1> öğrenci numarası :  B131210096 </h1>
</div>


